version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20 # Alzalo un po' per sicurezza
    groups:
      angular-core: # Fondamentale per non rompere Angular
        patterns:
          - "@angular/*"
          - "rxjs*"
          - "zone.js*"
          - "typescript"
      other-dependencies:
        patterns:
          - "*"
    labels:
      - "dependencies"
      - "automerge"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions:
        patterns:
          - "*"
